    @charset "UTF-8";
    /* CSS Document */
    
    @font-face {
        font-family: 'thaisansneue';
        src: url('../fonts/thaisansneue-regular.eot');
        src: url('../fonts/thaisansneue-regulard41d.eot?#iefix') format('embedded-opentype'), url('../fonts/thaisansneue-regular.woff2') format('woff2'), url('../fonts/thaisansneue-regular.woff') format('woff'), url('../fonts/thaisansneue-regular.ttf') format('truetype'), url('../fonts/thaisansneue-regular.svg#thaisansneue') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    
    body {
        background-image: url(../images/backhk.jpg);
        background-color: #7f0d0f;
        font-family: 'thaisansneue';
        color: rgb(0, 0, 0);
        padding-top: 0px;
        padding-bottom: 20%;
        padding: 0px;
        margin: 0px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 500;
        width: 100%;
        background-size: cover;
    }
    
    .pc {
        display: block;
    }
    
    .mobile {
        display: none;
    }
    
    @media (max-width:768px) {
        .pc {
            display: none !important;
        }
        .mobile {
            display: block !important;
        }
    }
    
    .bg-1 {
        /* background-image: url(../images/images/BG01.jpg); */
        /* background-image: url(../images/BG02.png); */
        background-color: #acacac;
        color: #ffffff;
        font-size: 20px;
        background-attachment: fixed;
    }
    
    .bg-2 {
        /* background-image: url(../images/images/Profile04.jpg); */
        /* background-image: url(../images/BG.png); */
        background-color: #7f0d0f;
        /* background-color: #0817085e; */
        color: #ffffff;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
        font-size: 20px;
    }
    
    .bg-3 {
        /* background-image: url(../images/back.jpg); */
        background-color: #dcdcdc;
        color: #ffffff;
        font-size: 20px;
    }
    
    .footer {
        background-image: url(../images/backh.jpg);
        font-family: 'thaisansneue';
        position: fixed;
        left: 0;
        /* top: 5px; */
        bottom: 0px;
        width: 100%;
        background-color: #081708;
        color: white;
        text-align: center;
        background-size: cover;
        
    }
    
    .footer1 {
        /* position: fixed; */
        font-family: 'thaisansneue';
        left: 0;
        bottom: 0;
        width: 100%;
        padding-bottom: 15%;
        /* background-color: #ebe7c4d4; */
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 16px;
    }
    
    .a11 {
        /* position: fixed; */
        font-family: 'thaisansneue';
        color: #ffffff;
        /* text-align: center; */
    }
    
    table {
        font-family: 'thaisansneue';
        width: 100%;
    }
    
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    
    th,
    td {
        padding: 15px;
        text-align: left;
    }
    
    table#t01 tr:nth-child(even) {
        background-color: #7f0d0f;
    }
    
    table#t01 tr:nth-child(odd) {
        background-color: #7f0d0f;
    }
    
    table#t01 th {
        background-color: #151815;
        color: white;
    }
    
    table#t02 tr:nth-child(even) {
        background-color: #7f0d0f;
    }
    
    table#t02 tr:nth-child(odd) {
        background-color: #7f0d0f;
    }
    
    table#t02 th {
        background-color: #151815;
        color: white;
    }
    
    #myTable tr:nth-child(even) {
        background-color: #7f0d0f;
    }
    
    #myTable tr:nth-child(odd) {
        background-color: #7f0d0f;
    }
    
    #myTable th {
        background-color: #151815;
        color: white;
    }
    
    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 20px;
        padding: 10px 10px 10px 10px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        color: #000000;
    }
    
    #myTables tr:nth-child(even) {
        background-color: #3c652d;
    }
    
    #myTables tr:nth-child(odd) {
        background-color: #4a8034;
    }
    
    #myTables th {
        background-color: #151815;
        color: white;
    }
    
    #myInputs {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 20px;
        padding: 10px 10px 10px 10px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        color: #000000;
    }
    
    #myTabless tr:nth-child(even) {
        background-color: #7f0d0f;
    }
    
    #myTabless tr:nth-child(odd) {
        background-color: #7f0d0f;
    }
    
    #myTabless th {
        background-color: #151815;
        color: white;
    }
    
    #myInputss {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 20px;
        padding: 10px 10px 10px 10px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        color: #000000;
    }
    
    .navbar {
        background-color: #ffffff;
        font-family: 'thaisansneue';
        color: white;
    }
    
    #myNavbar {
        font-family: 'thaisansneue';
        color: white;
        /* overflow: hidden; */
        font-size: 20px;
        /* text-align: left; */
    }
    
    #myNavbar a {
        font-family: 'thaisansneue';
        color: ffffff;
        /* overflow: hidden; */
        font-size: 20px;
        /* text-align: left; */
    }
    
    #myNavbar li {
        font-family: 'thaisansneue';
        color: ffffff;
        /* overflow: hidden; */
        font-size: 20px;
        /* text-align: left; */
    }
    
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    .sticky+.content {
        padding-top: 60px;
    }
    
    .col {
        font-size: 20px;
    }
    
    .panel {
        padding: 0 18px;
        background-color: #3b3c3d;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        /* background-image: url(../css/Foot_BG.png);
    background-color: #f0ede1;
    background-repeat: repeat;
    background-size: cover; */
        /* background-size: 18 px; */
        /* padding-top: 1%;
    padding-bottom: 13%;
    color: rgb(255, 255, 255); */
    }
    
    .footer2 {
        /* position: fixed; */
        font-family: 'thaisansneue';
        left: 0;
        padding-bottom: 18%;
        width: 100%;
        /* background-color: #2a2a2c; */
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 16px;
    }
    
    .accordion {
        /* background-color: #3b3c3d; */
        color: black;
    }
    
    .tablink {
        color: black;
    }
    
    ul.breadcrumb {
        padding: 10px 16px;
        list-style: none;
        background-color: #ffffff;
        /* background-color: #2a2a2c; */
        font-size: 25px;
    }
    
    ul.breadcrumb li {
        display: inline;
        font-size: 25px;
    }
    
    ul.breadcrumb li+li:before {
        padding: 8px;
        color: rgb(0 0 0);
        content: "/\00a0";
    }
    
    ul.breadcrumb li a {
        font-size: 25px;
        color: #000000;
        text-decoration: none;
    }
    
    ul.breadcrumb li a:hover {
        color: #000000;
        text-decoration: underline;
    }
    
    .active {
        color: #a3a5a7;
        text-decoration: underline;
    }
    
    .go-top {
        position: fixed;
        padding-bottom: 15%;
        bottom: 0;
        right: 0;
        z-index: 600;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
        -webkit-transform: translate3d(0, 200%, 0);
        -ms-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
    }
    
    .go-top a,
    .go-top a:visited {
        text-decoration: none;
        border: 0 none;
        display: block;
        height: 6rem;
        width: 6rem;
        line-height: 6rem;
        text-align: center;
        background-image: url(../images/icons/icon-arrow-up.svg);
        background-color: #000000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 7px 16px;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        text-transform: uppercase;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .go-top a:hover,
    .go-top a:focus,
    .go-top a:visited:hover,
    .go-top a:visited:focus {
        height: 6.6rem;
    }
    
    .go-top.link-is-visible {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    
    li {
        /* font-size: 5px; */
        color: white;
        /* text-align: top; */
        padding: 1px 1px;
        /* border: 1px solid black; */
    }
    
    .navbar-inverse {
        font-family: 'thaisansneue';
        color: white;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #050704;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 5px 20px;
        text-decoration: none;
        font-size: 30px;
    }
    
    .topnav a:hover {
        background-color: #050704;
        color: rgb(255, 255, 255);
    }
    
    .topnav a.active {
        background-color: #4CAF50;
        color: rgb(0, 0, 0);
    }
    
    .topnav .icon {
        display: none;
    }
    
    @media screen and (max-width: 600px) {
        .topnav a:not(:first-child) {
            display: none;
        }
        .topnav a.icon {
            float: right;
            display: block;
        }
    }
    
    @media screen and (max-width: 600px) {
        .topnav.responsive {
            position: relative;
        }
        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }