@import url(https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&amp;display=swap);
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}
body{
    margin:0
}
main{
    display:block
}
h1{
    font-size:2em;margin:.67em 0
}
hr{
    box-sizing:content-box;height:0;overflow:visible}



b,strong{font-weight:bolder}


button,input,optgroup,select,textarea{padding:0;line-height:inherit;color:inherit}


@-webkit-keyframes spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@keyframes spin{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}@-webkit-keyframes ping{0%{transform:scale(1);opacity:1}75%,to{transform:scale(2);opacity:0}}@keyframes ping{0%{transform:scale(1);opacity:1}75%,to{transform:scale(2);opacity:0}}@-webkit-keyframes pulse{0%,to{opacity:1}50%{opacity:.5}}@keyframes pulse{0%,to{opacity:1}50%{opacity:.5}}@-webkit-keyframes bounce{0%,to{transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(.8,0,1,1);animation-timing-function:cubic-bezier(.8,0,1,1)}50%{transform:translateY(0);-webkit-animation-timing-function:cubic-bezier(0,0,.2,1);animation-timing-function:cubic-bezier(0,0,.2,1)}}@keyframes bounce{0%,to{transform:translateY(-25%);-webkit-animation-timing-function:cubic-bezier(.8,0,1,1);animation-timing-function:cubic-bezier(.8,0,1,1)}50%{transform:translateY(0);-webkit-animation-timing-function:cubic-bezier(0,0,.2,1);animation-timing-function:cubic-bezier(0,0,.2,1)}}.container{width:100%}@media (min-width:640px){.container{max-width:640px}}@media (min-width:768px){.container{max-width:768px}}@media (min-width:1024px){.container{max-width:1024px}}
@media (min-width:1280px){.container{max-width:1280px}}
.bg-black{--bg-opacity:1;background-color:#000;background-color:rgba(0,0,0,var(--bg-opacity))}.bg-blue-500{--bg-opacity:1;background-color:#4299e1;background-color:rgba(66,153,225,var(--bg-opacity))}.bg-indigo-500{--bg-opacity:1;background-color:#667eea;background-color:rgba(102,126,234,var(--bg-opacity))}.bg-indigo-800{--bg-opacity:1;background-color:#434190;background-color:rgba(67,65,144,var(--bg-opacity))}.bg-accent-1{--bg-opacity:1;background-color:#fafafa;background-color:rgba(250,250,250,var(--bg-opacity))}.bg-accent-7{--bg-opacity:1;background-color:#333;background-color:rgba(51,51,51,var(--bg-opacity))}.hover\:bg-white:hover{--bg-opacity:1;background-color:#fff;background-color:rgba(255,255,255,var(--bg-opacity))}.border-black{--border-opacity:1;border-color:#000;border-color:rgba(0,0,0,var(--border-opacity))}.border-accent-2{--border-opacity:1;border-color:#eaeaea;border-color:rgba(234,234,234,var(--border-opacity))}.border-accent-7{--border-opacity:1;border-color:#333;border-color:rgba(51,51,51,var(--border-opacity))}.rounded-full{border-radius:9999px}.border{border-width:1px}.border-t{border-top-width:1px}.border-b{border-bottom-width:1px}.block{display:block}.flex{display:flex}.grid{display:grid}.hidden{display:none}.flex-col{flex-direction:column}.items-center{align-items:center}.justify-center{justify-content:center}.flex-auto{flex:1 1 auto}.font-bold{font-weight:700}.h-4{height:1rem}.h-12{height:3rem}.text-xs{font-size:.75rem}.text-lg{font-size:1.125rem}.text-xl{font-size:1.25rem}.text-2xl{font-size:1.5rem}.text-3xl{font-size:1.875rem}.text-4xl{font-size:2.25rem}.text-5xl{font-size:2.5rem}.text-6xl{font-size:2.75rem}.leading-none{line-height:1}.leading-tight{line-height:1.2}.leading-snug{line-height:1.375}.leading-relaxed{line-height:1.625}.mx-3{margin-left:.75rem;margin-right:.75rem}.mx-auto{margin-left:auto;margin-right:auto}.-mx-5{margin-left:-1.25rem;margin-right:-1.25rem}.mr-2
{margin-right:.5rem}.mr-3{margin-right:.75rem}.mb-3{margin-bottom:.75rem}.mr-4{margin-right:1rem}.mb-4{margin-bottom:1rem}.mt-5{margin-top:1.25rem}.mb-5{margin-bottom:1.25rem}.mb-6{margin-bottom:1.5rem}.mt-8{margin-top:2rem}.mb-8{margin-bottom:2rem}.mt-10{margin-top:2.5rem}.mb-10{margin-bottom:2.5rem}.mb-12{margin-bottom:3rem}.mt-16{margin-top:4rem}.mb-16{margin-bottom:4rem}.mb-20{margin-bottom:5rem}.mb-24{margin-bottom:6rem}.mt-28{margin-top:7rem}.mb-32{margin-bottom:8rem}.max-w-3xl{max-width:48rem}.min-h-screen{min-height:100vh}.opacity-75{opacity:.75}.p-2{padding:.5rem}.py-1{padding-top:.25rem;padding-bottom:.25rem}.py-2{padding-top:.5rem;padding-bottom:.5rem}.px-2{padding-left:.5rem;padding-right:.5rem}.py-3{padding-top:.75rem;padding-bottom:.75rem}.px-5{padding-left:1.25rem;padding-right:1.25rem}.px-12{padding-left:3rem;padding-right:3rem}.py-28{padding-top:7rem;padding-bottom:7rem}.shadow-small{box-shadow:0 5px 10px rgba(0,0,0,.12)}.hover\:shadow-medium:hover{box-shadow:0 8px 30px rgba(0,0,0,.12)}.fill-current{fill:currentColor}.text-left{text-align:left}.text-center{text-align:center}.text-white{--text-opacity:1;color:#fff;color:rgba(255,255,255,var(--text-opacity))}.text-indigo-100{--text-opacity:1;color:#ebf4ff;color:rgba(235,244,255,var(--text-opacity))}.hover\:text-black:hover{--text-opacity:1;color:#000;color:rgba(0,0,0,var(--text-opacity))}.hover\:text-red-500:hover{--text-opacity:1;color:#f56565;color:rgba(245,101,101,var(--text-opacity))}.hover\:text-success:hover{--text-opacity:1;color:#0070f3;color:rgba(0,112,243,var(--text-opacity))}.hover\:text-cyan:hover{--text-opacity:1;color:#79ffe1;color:rgba(121,255,225,var(--text-opacity))}.uppercase{text-transform:uppercase}.hover\:underline:hover,.underline{text-decoration:underline}.tracking-tighter{letter-spacing:-.04em}.tracking-tight{letter-spacing:-.025em}.w-4{width:1rem}.w-12{width:3rem}.row-gap-20{grid-row-gap:5rem;row-gap:5rem}.grid-cols-1{grid-template-columns:repeat(1,minmax(0,1fr))}.transition-colors{transition-property:background-color,border-color,color,fill,stroke}.transition-shadow{transition-property:box-shadow}.duration-200{transition-duration:.2s}*{margin:0;padding:0;box-sizing:border-box}.slick-slide{margin:.5rem}.slick-list{margin:-.5rem}.container{max-width:1140px;margin:0 auto}html{scroll-behavior:smooth}header{height:800px;background:url(../../../img/banner.jpg) no-repeat;background-size:cover;background-position:50%;position:relative}header:after{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.5)}header nav{position:relative;z-index:10;display:flex;justify-content:space-between;height:80px;align-items:center}header nav .logo{width:20%}header nav .logo img{width:100%}header nav ul.menu{display:flex;list-style:none}header nav ul.menu li{margin:0 2rem}header nav ul.menu li a{text-decoration:none;color:#fff;border-bottom:2px solid transparent;transition:.3s}header nav ul.menu li a:hover{padding-bottom:.5rem;border-bottom:2px solid #fff}header .header-wrapper{margin-top:3rem;display:flex;height:500px;justify-content:flex-start;align-items:center}header .header-wrapper .header-info{position:relative;z-index:10;color:#fff}header .header-wrapper .header-info h1{font-weight:400;font-size:5rem}header .header-wrapper .header-info h1 span{font-weight:700}header .header-wrapper .header-info h2{font-weight:400;background:#fff;color:#000;padding:.5rem}header .header-wrapper .header-info h2 .blue{color:#088ff5}.about{padding:3rem 0;background-size:cover;background-position:50%;height:500px;position:relative}.about .about-container{position:relative;z-index:10}.about .about-container .about-info h3{font-size:1.5rem;font-weight:400;text-transform:uppercase;letter-spacing:5px;color:#088ff5}.about .about-container .about-info p{position:relative;font-size:2rem;margin-top:2rem;color:#333}.about .about-container .about-info p a{color:#088ff5;text-decoration:none}.about .about-container .about-info .about-btn{display:inline-block;padding:.5rem 1rem;border:2px solid #cb1818;color:#cb1818;text-decoration:none;margin-top:1.5rem;border-radius:5px;transition:.5s}.about .about-container .about-info .about-btn:hover{border:2px solid transparent;color:#fff;background:#cb1818}.courses{padding:1rem 0}.courses .courses-title{margin:2rem 0;text-align:center}.courses .courses-title h1{font-size:3rem}.courses .courses-title p{font-size:1.5rem}.courses .courses-container{display:grid;grid-template-columns:repeat(auto-fill,minmax(300px,1fr));grid-gap:1rem}.courses .courses-container .courses-items{box-shadow:3px 3px 10px rgba(0,0,0,.1);position:relative;border-radius:10px;transition:.5s}.courses .courses-container .courses-items:hover{box-shadow:3px 3px 20px rgba(0,0,0,.3);transform:scale(1.05)}.courses .courses-container .courses-items .courses-img img{width:100%;border-radius:10px}.courses .courses-container .courses-items .courses-info{text-align:center;padding:1rem}.courses .courses-container .courses-items .courses-info .price{position:absolute;left:1.5rem;top:19.5rem;background:#00c700;display:inline-block;padding:.5rem 1rem;border-radius:10px;color:#fff}.courses .courses-container .courses-items .courses-info .btn{background:#088ff5;display:inline-block;text-decoration:none;color:#fff;margin:.5rem 0;padding:.5rem 1rem;border-radius:10px}.skills{padding:3rem 0;background:#f8f8f8;height:350px}.skills .skills-title h3{font-size:1.5rem;font-weight:400;text-transform:uppercase;letter-spacing:5px;color:#088ff5}.skills .skills-container{display:flex;justify-content:space-between;text-align:center}.skills .skills-container .skills-item{margin-top:4rem}.skills .skills-container .skills-item i{font-size:3rem;color:#088ff5}.skills .skills-container .skills-item h4{margin:1rem}.testimonails{margin:3rem 0;padding:3rem 0;overflow:hidden}.testimonails .testi-title{margin:2rem 0;text-align:center}.testimonails .testi-title h1{font-size:3rem}.testimonails .testi-title p{font-size:1.5rem}.testimonails .testi-con{display:grid;height:350px;text-align:center;position:relative}.testimonails .testi-con .owl-prev{position:absolute;left:-4rem;top:35%;outline:none}.testimonails .testi-con .owl-prev span{width:55px;height:54px;display:block;font-size:2rem;color:#fff;background:#088ff5;border-radius:50%;transition:.5s;border:2px solid transparent}.testimonails .testi-con .owl-prev span:hover{background:#fff;color:#088ff5;border:2px solid #088ff5}.testimonails .testi-con .owl-next{position:absolute;right:-4rem;top:35%;outline:none}.testimonails .testi-con .owl-next span{width:55px;height:54px;display:block;font-size:2rem;color:#fff;background:#088ff5;border-radius:50%;transition:.5s;border:2px solid transparent}.testimonails .testi-con .owl-next span:hover{background:#fff;color:#088ff5;border:2px solid #088ff5}.testimonails .testi-con .testi-items{padding:2rem 1rem;background:#fff;border-radius:10px;box-shadow:0 0 10px rgba(0,0,0,.1);margin:1rem}.testimonails .testi-con .testi-items .testi-info{margin-top:.8rem}.testimonails .testi-con .testi-items .testi-info .testi-text{color:#333;font-style:italic}.testimonails .testi-con .testi-items .testi-info .testi-name{font-style:italic;font-size:.8rem;color:#088ff5}.testimonails .testi-con .testi-items .testi-img img{margin:0 auto;width:100px;border-radius:50%}.follow{padding:3rem 0;background:#088ff5}.follow .follow-title{text-align:center;color:#fff;font-size:1.5rem}.follow .follow-con{margin:2rem 0;display:flex;justify-content:center;list-style:none}.follow .follow-con li{margin:0 2rem}.follow .follow-con li a{color:#fff}.follow .follow-con li a i{font-size:3rem}.quotes{padding:5rem 0}.quotes .quotes-con{display:flex}.quotes .quotes-con .quotes-left{width:50%}.quotes .quotes-con .quotes-left .quotes-img img{width:100%;height:100%;border-radius:10px}.quotes .quotes-con .quotes-right{width:50%}.quotes .quotes-con .quotes-right .quotes-info{padding:0 3rem}.quotes .quotes-con .quotes-right .quotes-info h3{font-size:3rem;position:relative}.quotes .quotes-con .quotes-right .quotes-info h3:after{content:"";position:absolute;width:80px;height:3px;background:#088ff5;bottom:-5px;left:0}.quotes .quotes-con .quotes-right .quotes-info .q-title{font-size:1.5rem;margin-top:2rem}.quotes .quotes-con .quotes-right .quotes-info .q-name{margin-top:2rem}footer .footer-con{border-top:1px solid rgba(0,0,0,.1);display:flex;height:80px;align-items:center;justify-content:space-between}footer .footer-con .footer-left{width:200px}footer .footer-con .footer-left img{width:100%}footer .footer-con .footer-right{color:#333}
@media only screen and (max-width:1024px){header{overflow:hidden}header nav .logo{margin-left:2rem}header .header-wrapper{justify-content:center}header .header-wrapper .header-info{text-align:center}header .header-wrapper .header-info h1{font-size:5rem}header .header-wrapper .header-info h2{font-size:1.2rem;margin:1rem}.about{height:auto}.about .about-info{padding:2rem}.about .about-info p{font-size:1.2rem!important;line-height:2}.skills{padding:2rem;height:auto}.skills .skills-container .skills-item{width:50%!important}.courses .courses-container .courses-items{margin:0 1rem}.testimonails{margin:1rem 0}.follow-con i{font-size:3rem!important}.quotes-con{flex-direction:column}.quotes-con .quotes-left{width:100%!important}.quotes-con .quotes-left .quotes-img{margin:1rem}.quotes-con .quotes-right{width:100%!important}footer .footer-con{padding:1rem 0;flex-direction:column;height:auto}}
@media only screen and (max-width:768px){header{overflow:hidden}header nav{margin-top:2rem;flex-direction:column}header nav .logo{width:30%!important}header nav .menu{margin-top:1.5rem}header .header-wrapper .header-info{text-align:center}header .header-wrapper .header-info h1{font-size:5rem}header .header-wrapper .header-info h2{font-size:1.2rem;margin:1rem}.about{height:auto}.about .about-info{padding:2rem}.about .about-info p{font-size:1.2rem!important;line-height:2}.skills{padding:2rem;height:auto}.skills .skills-container{flex-wrap:wrap}.skills .skills-container .skills-item{width:50%!important}.courses .courses-container .courses-items{margin:0 1rem}.testimonails{margin:1rem 0}.follow-con i{font-size:3rem!important}.quotes-con{flex-direction:column}.quotes-con .quotes-left{width:100%!important}.quotes-con .quotes-left .quotes-img{margin:1rem}.quotes-con .quotes-right{width:100%!important}footer .footer-con{padding:1rem 0;flex-direction:column;height:auto}}
@media only screen and (max-width:480px){header{overflow:hidden}header nav{margin-top:2rem;flex-direction:column}header nav .logo{width:50%!important}header nav .menu{margin-top:1.5rem}header .header-wrapper .header-info{text-align:center}header .header-wrapper .header-info h1{font-size:3.5rem}header .header-wrapper .header-info h2{font-size:1.2rem;margin:1rem}.about{height:auto}.about .about-info{padding:2rem}.about .about-info p{font-size:1.2rem!important}.skills{padding:2rem;height:auto}.skills .skills-container{flex-wrap:wrap}.skills .skills-container .skills-item{width:50%!important}.courses .courses-container .courses-items{margin:0 1.5rem}.testimonails{margin:1rem 0}.follow-con i{font-size:1.5rem!important}.quotes-con{flex-direction:column}.quotes-con .quotes-left{width:100%!important}.quotes-con .quotes-left .quotes-img{margin:1rem}.quotes-con .quotes-right{width:100%!important}footer .footer-con{padding:1rem 0;flex-direction:column;height:auto}}
@media only screen and (max-width:360px){.follow-con li,header nav ul.menu li{margin:0 1rem!important}.follow-con li i{font-size:2rem!important}}@media (min-width:640px){.sm\:container{width:100%}@media (min-width:640px){.sm\:container{max-width:640px}}@media (min-width:768px){.sm\:container{max-width:768px}}@media (min-width:1024px){.sm\:container{max-width:1024px}}@media (min-width:1280px){.sm\:container{max-width:1280px}}.sm\:mx-0{margin-left:0;margin-right:0}}@media (min-width:768px){.md\:container{width:100%}@media (min-width:640px){.md\:container{max-width:640px}}@media (min-width:768px){.md\:container{max-width:768px}}@media (min-width:1024px){.md\:container{max-width:1024px}}@media (min-width:1280px){.md\:container{max-width:1280px}}.md\:block{display:block}.md\:grid{display:grid}.md\:hidden{display:none}.md\:flex-row{flex-direction:row}.md\:justify-between{justify-content:space-between}.md\:text-4xl{font-size:2.25rem}.md\:text-7xl{font-size:4.5rem}.md\:text-8xl{font-size:6.25rem}.md\:leading-none{line-height:1}.md\:mb-0{margin-bottom:0}.md\:mb-12{margin-bottom:3rem}.md\:mb-16{margin-bottom:4rem}.md\:mb-28{margin-bottom:7rem}.md\:pr-8{padding-right:2rem}.md\:pl-8{padding-left:2rem}.md\:text-left{text-align:left}.md\:tracking-tighter{letter-spacing:-.04em}.md\:col-gap-16{grid-column-gap:4rem;-moz-column-gap:4rem;column-gap:4rem}.md\:row-gap-32{grid-row-gap:8rem;row-gap:8rem}.md\:grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr))}}@media (min-width:1024px){.lg\:container{width:100%}@media (min-width:640px){.lg\:container{max-width:640px}}@media (min-width:768px){.lg\:container{max-width:768px}}@media (min-width:1024px){.lg\:container{max-width:1024px}}@media (min-width:1280px){.lg\:container{max-width:1280px}}.lg\:rounded-full{border-radius:9999px}.lg\:inline-flex{display:inline-flex}.lg\:flex-row{flex-direction:row}.lg\:text-5xl{font-size:2.5rem}.lg\:text-6xl{font-size:2.75rem}.lg\:text-8xl{font-size:6.25rem}.lg\:mb-0{margin-bottom:0}.lg\:px-8{padding-left:2rem;padding-right:2rem}.lg\:pr-4{padding-right:1rem}.lg\:pl-4{padding-left:1rem}.lg\:text-left{text-align:left}.lg\:w-1\/2{width:50%}.lg\:col-gap-8{grid-column-gap:2rem;-moz-column-gap:2rem;column-gap:2rem}.lg\:col-gap-32{grid-column-gap:8rem;-moz-column-gap:8rem;column-gap:8rem}}@media (min-width:1280px){.xl\:container{width:100%}@media (min-width:640px){.xl\:container{max-width:640px}}@media (min-width:768px){.xl\:container{max-width:768px}}@media (min-width:1024px){.xl\:container{max-width:1024px}}@media (min-width:1280px){.xl\:container{max-width:1280px}}}.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translateZ(0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0)}.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-loaded{display:block}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:-webkit-grab;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.no-js .owl-carousel{display:block}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}to{opacity:0}}@keyframes fadeOut{0%{opacity:1}to{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{transform:scale(1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:50%;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}